
.eos-user-room-filter
    position: sticky
    top: 0
    padding: $ds_n $ds
    background: #FFF
    z-index: 666
    border-bottom: 0.7px solid $def 
    input
        flex: 1
        padding-left: 4.2em
        border-radius: 0.4em
    .euef-btn-funni
        min-width: 1.7em
        padding: $ds_s
        margin-left: $ds_x
        border-radius: 100%
    .ip-i-i
        span
            left: $ds_x