
$chat-top-bar-H: 5em

.chat-room-top-bar,
.chat-room-top-left-bar
    min-height: $chat-top-bar-H
    padding: $ds_s 0 $ds_s $ds
.chat-room-top-bar
    border-bottom: 0.7px solid $cold_Br2

.eos-user-room-card,
.eos-user-room-easy-card
    width: 100%
    cursor: pointer
    user-select: none
    transition: all .12s ease-in-out

    border-radius: 0px

    .user-avatar
        div
            width: 3.3em
            height: 3.3em
            border-radius: 100%

.eos-user-room-card
    & > nav
        padding: $ds_s $ds_x2 $ds_s 0px
        border-bottom: 0.7px solid $hr
        nav
            padding-top: 3px  

.eos-user-room-easy-card
    .user-avatar
        div
            width: 2.8em
            height: 2.8em
    & > nav
        padding: 0

.user-def-avatar
    @extend .fx-c
    position: relative
    span
        @extend .abs-cc
        font-size: 2em
        opacity: 0.62
.eos-user-room-easy-card
    .user-def-avatar
        span
            font-size: 1.7em