$chat-top: 56px
$chat-cont: 100vh// calc(120px + 50vh)

.iayout-room
    width: 100%
    @extend .fx-s

$chat_x_space: 0px// calc(24px + 8vw) 
.pl-chat
    padding-left: $chat_x_space
.pr-chat
    padding-right: $chat_x_space
    
.room-L
    @extend .pl-chat
    width: calc( 270px + 12vw )
.room-R
    @extend .pr-chat
    flex: 1

.room-page
    height: 100vh
    & > div,
    & > nav
        height: 100vh
    .room-L
        position: relative
        background: #FFF
    .room-R
        position: relative
        background: $bg_warm

.room-header-ine
    border-bottom: 0.7px solid $cold_Br2

//    
.chat-pot-paner
    & > div
        overflow: hidden
        overflow-y: scroll
        padding: $ds $ds_x
        height: $chat-cont
        & > div
            padding: 0
            padding-top: 0.7em
    & > nav
        width: 100%
        @extend .abs-b
        z-index: 300

@media screen and (min-width: 1080px) 
    .chat-pot-paner > div
        padding: $ds calc(20px + 6em)